#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.header{
  margin-bottom: 10px;
  display: flex;
  .header-col{
    margin-top: 65px;
  }
}

button {
  all: unset;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: rgb(61, 60, 60);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block; 
}

button:hover {
  transform: scale(1.05);
  color: rgb(121, 121, 121);
}

.af-logo{
  width: auto;
  height: 150px;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.af-logo:hover {
   transform: scale(1.1);
}

.main-body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60%;
  .join-button{
    margin-top: 100px;
    padding: 5px 15px;
    font-size: clamp(17px, 2vw, 22px);
    font-weight: 300;
    font-family: inherit;
    color: white;
    transition: transform 0.3s ease-in-out;
    border-style: none;
    background-color: rgb(61, 60, 60);
    border-radius: 15px;
    cursor: pointer;
    display: inline-block; 
  }
  .join-button:hover {
    transform: scale(1.1);
  }
}

.footer-row{
  position: absolute;
  bottom: 10px;
  width: 100%;
  gap: clamp(100px, 2vw, 200px);
  justify-content: center;
  .footer-button{
    color: white;
    opacity: 0.8;
    font-weight: 100;
    font-size: clamp(12px, 2vw, 16px);
  }
}

/* Fade and Slide Animation */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
