@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;;
} 
.container{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  place-items: center;
}

h1{
  font-size: 2.0rem;
  font-weight: 700;
  margin: 0;
  font-size: clamp(36px, 2vw, 22px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.col {
  flex: 1 0 0%;
  padding-left: 12px;
  padding-right: 12px;
}

